[versions]
# Plone 4.2 only (overridden in Plone >=4.3)
collective.js.jqueryui = 1.8.16.9

[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/travis-4.x.cfg

package-name = Products.PloneFormGen
package-extras = [test]

allow-hosts +=
    code.google.com
    robotframework.googlecode.com
    funkload.nuxeo.org
