#form-confirmation {
    background: url(++resource++pbimages/white.png);
    padding: 1em;
    margin: 1em;
    width: 600px;
    height: 470px;
}
#form-confirmation .visualPadding {
    margin: 2em;
    height: 430px;
    overflow: auto;
}
