/*Override the collective.jqueryui css
*/
.ui-state-disabled {
    opacity: 1
};

/*Blank space holder (for register field add dropable)
*/
.fgfield-blank {
    margin-bottom : 8px;
}

/*The whole field div 
*/
.fgfield-wrapper {
    margin-bottom : 16px;
    border: 1px solid transparent;
}

/*Helper class (Use on drag/drop/sort)
*/
.fgfield-helper {
    background : #C2E1EF;
    border : 1px solid #444444;
}

/*Field's view part
*/
.fgfield-view-wrapper {
    padding-bottom : 0.5em;
    padding-left : 0.5em;
}

/*Field's embedded edit form part
*/
.fgfield-edit-wrapper {
    margin : 1.5em;
}

/*Place holder style on jquery's sort/drag/dropable
*/
.fgfield-placeholder {
    background : #FFFFAD;
    min-height : 3.5em;
    border : 1px dashed #777777;
}

/*Field that is being selected 
*/
.fgfield-selected {
    border : 1px solid #C2E1EF;
    border-top : 1px transparent;
}

/*Field that is being highlighted (to get user's attention).
  Example: when it has just been created, when it's being edited...
*/
.fgfield-highlight { 
    background : #C2E1EF;
}

/*Field that is being targeted (ie. mouse over).
*/
.fgfield-focus { 
    border : 1px dashed #777777; 
}

.fgfield-editbuttons { 
    float : right;
    position : relative; 
    top : -8px;
    right : 0.5em;
    z-index : 1000;
}

.fgfield-editbutton { 
    background : #CCCCCC; 
    border : 1px solid #C2E1EF;
    margin : 1px;
}

.fgswitchbutton {
    float : right;
    z-index : 1000; 
}

.ajax-portalmessage {
    position : fixed;
    z-index : 1000;
    width : 100%;
    top : 0px;
    left : 0px;
}
